.form-horizontal .control-label {
	text-align: left;
}
.up-down-space{
	margin-top:20px;
	margin-bottom:20px;
}
.padding-space{
	padding:20px 20px 20px 20px;
}
.border-red{
	border:1px dashed red;
	border-radius:5px;
}