<header class="marge-top-login"></header>
<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<img class="img-responsive center-block border-image img-circle"  src="../src/img/logo.png"/>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-xs-offset-2 marge-top-menu ">
		<form class="form-horizontal" ng-submit="validLogin()" name="formLogin" novalidate>
 			<div class="form-group" >
				<div class="col-sm-8 col-xs-offset-4">
	      			<input  type="text" 
	      					class="form-control" 
							name="login"
							placeholder="Login"
							ng-model="user"	
							ng-minlength="3" 
							ng-maxlength="15"
         					>
	    		</div>
	    		<div ng-messages="formLogin.login.$error" style="color:maroon">
 					<div ng-messages-include="html/defaultMessage.html"></div>
				</div>
	  		</div>
	  		<div class="form-group">
	    		<div class="col-xs-8 col-xs-offset-4">
	      			<input  type="password" 
	      					class="form-control"
	      					name="login" 
	      					placeholder="Password"
	      					ng-model="password"	  
	      					>
	    		</div>
	    	
	    		
			</div>
			<div class="form-group">
   				<div class="col-xs-offset-4 col-xs-8">
      				<button type="submit" class="btn btn-warning btn-lg btn-block">Se connecter</button>
    			</div>
  			</div>
		</form>
	</div>
</div>