 	<div class="alert alert-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	
	L'&eacute;l&eacute;ment a &eacute;t&eacute; corr&eacute;ctement cr&eacute;e.
</div>

<div class="col-xs-offset-1">
	<i>* Elements obligatoire.</i><br><br>
	
	<form ng-submit="addAdherent()" name="adcrForm" class="form-horizontal">			
		<div class="form-group">
			<label for="inputNom" class="col-xs-2 control-label">Nom* :</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputNom" required>
			</div>
			
			<label for="inputNom" class="col-xs-offset-1 col-xs-2 control-label">Prenom* :</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputPrenom" required>
			</div>
		</div><br>

		<div class="form-group">
			<label class="col-xs-2 control-label">Date de naissance* :</label>
			<div class="col-sm-3">
				<input type="date" class="form-control"  ng-model-options="{updateOn : 'blur'}" ng-model="adhAge" required>
			</div>
							
			<label class="col-xs-offset-1 col-xs-3 control-label" ng-show="AgeAbonne(adhAge) !==undefined">Age : {{AgeAbonne(adhAge)}} ans</label>
		</div><br>
		
		<div class="form-group">
			<label for="inputEmail3" class="col-xs-2 control-label">Email* :</label>
			<div class="col-sm-9">
				<input type="email" class="form-control" id="inputEmail3" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-2 control-label">Adresse :</label>
			<div class="col-md-9">
				<input type="text" class="form-control">
			</div>
		</div><br>

		<div class="form-group">
			<label class="col-xs-2 control-label">Code Postal :</label>
			<div class="col-sm-3">
				<input type="text" class="form-control">
			</div>
			
			<label class="col-xs-offset-1 col-xs-2 control-label">Ville :</label>
			<div class="col-sm-3">
				<input type="text" class="form-control">
			</div>
		</div><br>

		<div class="form-group ">
			<label class="col-xs-3 control-label">Date de paiement de la cotisation :</label>
			<div class="col-sm-3">
				<input type="date" class="form-control" ng-model="adhFinAbo" ng-model-options="{updateOn : 'blur'}">
			</div>
			
			<label class="col-xs-4 control-label"  ng-show="FinAbonnement(adhFinAbo) !==null">Date de fin de l'abonnement : {{FinAbonnement(adhFinAbo) | date:'dd/MM/yyyy'}}</label>
		</div><br>

		<div class="form-group">
			<label class="col-xs-3 control-label">Montant de la cotisation :</label>
			<div class="col-sm-3">
				<input type="text" class="form-control">
			</div>
		</div><br>
		
		<div class="form-group">
			<div class="col-md-3"></div>
			
			<div class="col-xs-offset-5">
				<input type="submit" class="btn btn-warning">
			</div>
		</div>
	</form>
</div>