<div class="row"> 
	<form name="formRechercheMedia" novalidate>
		<div class="form-group">
			<label class="col-xs-1 control-label">Titre:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" ng-model="titre" name="titre"> 
			</div>
			
			<label class="col-xs-1 control-label">Auteur:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" ng-model="auteur" name="auteur"> 
			</div>
			
			<label class="col-xs-1 control-label">Type:</label>
			<div class="col-xs-2">
				<select ng-model="type" ng-options="item.label as item.label for item in mediaType track by item.id" class="form-control" style="padding-left: 4px;padding-right: 4px;">
					<option value="">Selectionner un type</option>
				</select>
			</div>
			
			<div class="col-xs-offset-1 col-xs-2">
				<button type="button" class="btn btn-warning" ng-click="resultMedia()">Recherche</button>
			</div>
		</div>
	</form>
</div>

<br>

<table class="table table-bordered table-hover" ng-show="showme" >
	<thead>
		<tr class="row warning">
			<th class="col-xs-4" id="titre"><a ng-click="tri()">Titre</a></th>
			<th class="col-xs-1" id="type">Type</th>
			<th class="col-xs-3" id="auteur">Auteur</th>
			<th class="col-xs-2" id="emprunt">Emprunteur</th>
			<th class="col-xs-2" id="retour">Date retour</th>
		</tr>
	</thead>
	
	<tbody>
		<tr class="row" ng-repeat="resultat in resultats">
			<td>{{resultat.titre}}</td>
			<td>{{resultat.type}}</td>
			<td>{{resultat.auteur}}</td>
			<td>{{resultat.emprunteur.nom}} {{resultat.emprunteur.prenom}}</td>
			<td>{{resultat.retour}}</td>
			<td><a ng-click="mediaVisualisation()"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
		</tr>			
	</tbody>	
</table>