
			<header >
				<div class="navbar  navbar-default container-fluid ">
					<div class="row">
						<div class="col-xs-10">
							<ul class="nav nav-pills nav-justified marge-top-menu ">
					  			<li class="bg-info">
					  				<a href="home.html">M&eacute;dia</a>
					  			</li>
					 			<li >
					 				<a href="adherent_recherche.html">Adh&eacute;rents</a>
					 			</li>
							</ul>
						</div >
						<div class="col-xs-2">
					  		<a href="home.html" ><img class="img-responsive center-block img-circle border-image"  src="../src/img/logo.png"/></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 ">
							<ul class="nav nav-pills nav-justified ">
					  			<li>
					  				<a href="home.html">Recherche</a>
					  			</li>
					 			<li>
					 				<a href="adherent_creation.html" >Nouveau</a>
					 			</li>
							</ul>
						</div>
						<div class="col-xs-2 col-xs-offset-5 marge-top-deco center"  >
							<a type="button" class="btn btn-default btn-block btm-sm" href="login.html">
								<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
							</a>
					 	</div>
					</div>
				</div>
			</header>
				
			<div class="row">
				<h1 class="col-xs-5 col-xs-offset-4">Fiche M&eacute;dia</h1>
			</div>
			
			<br>
		
			<div class="col-xs-10 col-xs-offset-1 padding-space up-down-space border-red">
				<div class="form-group col-xs-12">
					<label class="col-xs-5 col-ld-4">Titre</label>
					<p class="col-xs-7 col-ld-8">{{media.titre}}</p>
				</div>
				<div class="form-group col-xs-12">
					<label class="col-xs-5 col-ld-4">Type</label>
					<p class="col-xs-7 col-ld-8">{{media.type}}</p>
				</div>
				<div class="form-group col-xs-12">
					<label class="col-xs-5 col-ld-4">Auteur</label>
					<p class="col-xs-7 col-ld-8">{{media.auteur}}</p>
				</div>
				<div class="form-group col-xs-12">
					<label class="col-xs-5 col-ld-4">Emprunt&eacute;</label>
					<p class="col-xs-7 col-ld-8">{{media.emprunteurs.size>0?media.emprunteurs[0].nom:'Libre'}}</p>
				</div>
				<div ng-if=media.emprunteurs.size>0" class="form-group col-xs-12">
					<label class="col-xs-5 col-ld-4">Date de retour</label>
					<p class="col-xs-7 col-ld-8">{{media.date_retour}}</p>
				</div>
				<form action="#" method="GET">
					<div class="form-group col-xs-12 hidden-xs hidden-sm">
						<label class="col-xs-3">Nom de l'Emprunteur</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" value="Ex_Nom_Emprunteur" readonly>
						</div>
						<label class="col-xs-1">Date</label>
						<div class="col-xs-3">
							<input type="date" class="form-control" value="2016-09-15" readonly>
						</div>
						<input class="btn btn-warning col-xs-2" type="submit" value="Ajouter" readonly>
					</div>
				</form>
				<div class="form-group col-xs-10 col-xs-offset-1">
					<label class="up-down-space">Dernier(s) Emprunteur(s)</label>
					<br>
					<table class="table table-hover col-xs-12">
						<thead class="bg-warning">
							<tr>
								<th>Identifiant Emprunteur
								</th>
								<th class="hidden-xs">Nom Emprunteur
								</th>
							</tr>
						</thead>
						<tbody class="bg-danger">
							<tr ng-repeat="emprunteur in emprunteurs">
								<td>
									<a href="adherent_visualisation.html">
										{{emprunteur.id}}
									</a>
								</td>
								<td class="hidden-xs">
									<a href="adherent_visualisation.html">
										{{emprunteur.nom}}
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="col-xs-2 col-xs-offset-5 up-down-space">
				<form ng-submit="modify()">
					<input class="btn btn-warning" type="submit" value="Modifier">
				</form>
			</div>
		
<!-- 		<footer class="panel-footer marge-footer"> -->
<!-- 			Projet r&eacute;alis&eacute; par Aragon Romain, Bouaoud Medhi, Gaborit Jean-Marie et Themelin Mathieu -->
<!-- 		</footer> -->